@font-face {
    font-family: HPfont; 
    src: url('assets/fonts/HPfont.ttf') format('truetype'); 
}

* {
    font-family: HPfont;
}
.logo{
    padding-left:15px;
    padding-top:10px;
}

.center-items-horizontal{
    text-align: center;
}

.main-nav{
    padding-top: 10px;
    height: 80px;
    margin: auto;
    border-radius: 100px; 
    background: rgba(186, 186, 186, 0.4);
}

.container{
    padding-right:30px;
    display: flex;
}

header{
    
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    opacity: .65;
    font-size: 45px;
    margin-right: 200px; /* Adjusts spacing between navigation items */
}

nav li:hover{
    opacity: 1.0;
}

nav ul li:last-child{
    margin-right: 35px; /* removes unecessary space from right of last element in list */
}

nav a{
    text-decoration: none;
    color: black; 
}

.home-page-body{
    background-image: url("assets/castleBackdrop.png");
    background-attachment: fixed; 
    background-size: cover; /* cover window, may cut off ends of image */
    background-repeat: no-repeat; 
    background-position: center center;
}

.generic-page-body{
    background-color: rgb(255, 255, 255);
}

#wizard-witch-select{
    width: 300px;
    margin-bottom: 10px;
}

.custom-selector{
    padding-top: 80px;
}

.custom-selector select{
    background-color: rgb(142, 182, 225);
    font-size: 30px;
    border: none;
}




